@media screen and (min-width: 1000px) and (max-width: 1920px) {
    header {
        width: 85%;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 150px;
    }
    nav {
        display: block;
        font-size: 18px;
    }
    nav > a {
        color: var(--text-color);
        margin: 0px 15px;
        padding-bottom: 33px;
        text-decoration: none;
    }
    .user-info {
        margin: 0;
        gap: 30px;
    }
    .avatar {
        width: 50px;
    }
    .cart-icon {
        width: 30px;
    }
    .menu {
        display: none;
    }
    main {
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    .main-content {
        width: 45%;
        max-width: 450px;
        margin-top: 25px;
        padding: 0;
    }
    .company {
        font-size: 18px;
    }
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 16px;
        margin: 20px 0px;
        line-height: 1.4em;
        font-weight: normal;
    }
    h2 {
        font-size: 25px;
        margin-bottom: 0;
    }
    .images-slider {
        width: 400px;
        height: auto;
        max-height: none;
        max-width: none;
    }
    .main-image {
        width: 100%;
        max-height: none;
    }
    .thumbnails-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: auto;
    }
    .thumbnails-container > label {
        width: 90px;
        display: inline-block;
    }
    .discount {
        font-size: 16px;
    }
    .origin-price {
        display: block;
        margin: 10px 0px;
        font-size: 17px;
    }
    .directions {
        display: none;
    }
    .buttons {
        display: flex;
        margin-top: 25px;
        gap: 10px;
    }
    .quantity-container {
        width: 30%;
        display: flex;
        padding: 0;
    }
    .quantity-container > button {
        width: 20%;
    } 
    .quantity-container > span {
        width: 40%;
        font-size: 18px;
    }
    .add-cart {
        width: 60%;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
}