@media screen and (min-width: 720px) and (max-width: 1000px) {
    header {
        width: 90%;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 100px;
    }
    nav {
        display: block;
        font-size: 14px;
    }
    nav > a {
        color: var(--text-color);
        margin: 0px 8px;
        padding-bottom: 25px;
        text-decoration: none;
    }
    nav > a:hover {
        border-bottom: 3px solid var(--orange);
    }    
    .user-info {
        margin: 0;
    }
    .menu, .close-button {
        display: none;
    }
    main {
        display: flex;
        padding: 40px;
        justify-content: center;
        gap: 70px;
    }
    .main-content {
        width: 45%;
        max-width: 350px;
        margin-top: 40px;
        padding: 0;
    }
    p {
        font-size: 12px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 15px;
        margin-bottom: 0;
    }
    .all-images {
        width: 300px;
    }
    .images-slider {
        width: 100%;
        max-height: auto;
    }
    .thumbnails-container {
        display: flex;
        justify-content: space-between;
    }
    .discount {
        font-size: 13px;
    }
    .origin-price {
        margin: 10px 0px 15px 0px;
        font-size: 13px;
    }
    .directions {
        display: none;
    }
    .buttons {
        display: flex;
        gap: 10px;
    }
    .quantity-container {
        padding: 0;
        width: 30%;
        display: flex;
    }
    .quantity-container > button {
        width: 20%;
        padding: 0;
    } 
    .quantity-container > span {
        width: 50%;
        font-size: 12px;
    }
    .add-cart {
        margin: 0;
        width: 60%;
        font-size: 12px; 
    }
    .new-container {
        height: 100%;
        width: 100vw;
    }    
    .newslider {
        margin: auto;
        margin-top: 130px;
    }
    .new-directions {
        display: block;
    }
    .card {
        top: 10%;
        right: 5%; 
    }
} 
