@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans';
    box-sizing: border-box;
}
@keyframes open {
    from {
        height: 1px;
        width: 1px;
    }
    to {
        height: 250px;
        width: 350px;
    }
}
:root {
    --orange: #FF7C1B;
    --text-color: #68707D;
}

header {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.menu:hover {
    cursor: pointer;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
nav {
    height: 150%;
    display: none;
    padding: 35px;
    flex-direction: column;
    position: absolute;
    left: 0px;
    bottom: -50%;
}
nav > a {
    margin: 15px;
}
.user-info {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 15px;
}
.avatar {
    width: 30px;
    border-radius: 50%;
}
.avatar:hover {
    border: 1px solid red;
    cursor: pointer;
}
.cart-icon:hover {
    cursor: pointer;
}
main {
    padding: 60px 30px;
}
p {
    font-weight: lighter;
}
.main-content {
    text-align: left;
}
h1 {
    margin: 15px 0;
}
h2 {
    margin: 25px 0;
    display: inline-block;
}
.all-images {
    text-align: center;
}
.images-slider {
    width: 80%;
    display: flex;
    max-width: 400px;
    max-height: 300px;
    border-radius: 15px;
    margin: 0 auto 20px auto;
    overflow-x: hidden;
    position: relative;
}
.images-slider:hover {
    cursor: pointer;
}
.images-slider img {
    width: 100%;
}
.thumbnails-container {
    display: none;
}
.directions {
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 40%;
}
.left {
    left: 5%;
}
.right {
    right: 5%;
}
.thumbnails-container > label {
    width: 20%;
}
.thumbnails-container > label:hover {
    cursor: pointer;
}
label > img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    border: 3px solid var(--orange);
    border-radius: 13px;
    opacity: 0.5;
    transition: opacity 0.7s;
}
#radio2:checked ~ .main-image {
    margin-left: -200%;
}
.company, .discount {
    color: var(--orange);
    font-weight: bolder;
}
p {
    color: var(--text-color);
}
.origin-price {
    display: block;
}
.discount {
    background-color: #FFEDE0;
    padding: 5px;
    margin-left: 5px;
}
.origin-price {
    color: var(--text-color);
    text-decoration: line-through;
    margin: 10px 0px 15px 0px;
}
.quantity-container {
    background-color: #dddddf;
    width: 100%;
    border-radius: 8px;
}
.quantity-container > button {
    background-color: #dddddf;
    width: 11.5%;
    border: none;
    padding: 15px;
}
.quantity-container > button:hover {
    background-color: #b3b3b3;
    cursor: pointer;
} 
.quantity-container > span {
    width: 75%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
}
.quantity-minus {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.quantity-plus {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.add-cart, .card button {
    background-color: var(--orange);
    color: white;
    padding: 15px 0px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-top: 12px;
}
.add-cart:hover, .card button:hover {
    background-color: #c05f14;
}
.menu {
    font-size: 30px;
}
.new-container {
    background-color: rgba(0, 0, 0, 0.418);
    width: 98.7vw;
    height: 118%;
    position: absolute;
    top: 0%;
}
.new-button {
    width: 30px;
    height: 30px;
    padding: 8px;
    display: block;
    position: absolute;
    border: none;
    border-radius: 50%;
}
.newslider {
    margin: auto;
    margin-top: 110px;
    position: relative;
}
.card {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 10%;
    right: 5%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    display: none;
    animation: open .5s;
}
.card > h4 {
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.card-content-box {
    margin: 20px;
    height: 30%;
    padding: 8px;
    display: none;
    gap: 15px;
    border-radius: 8px;
    align-items: center;
}
.card-content-box:hover {
    background-color: rgba(211, 211, 211, 0.397);
}
.card-img {
    border-radius: 8px;
    width: 60px;
}
.div-button {
    text-align: center;
}
.card button {
    width: 250px;
}
.delete {
    width: 25px;
    height: 35px;
}
.material-icons-outlined {
    font-family: 'Material Icons';
}