@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans';
    box-sizing: border-box;
}
:root {
    --orange: #FF7C1B;
    --text-color: #68707D;
}
header {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
nav {
    display: none;
}
nav > a:hover {
    border-bottom: 3px solid var(--orange);
}
.user-info {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 15px;
}
.avatar {
    width: 30px;
}
main {
    padding: 60px 30px;
}
p {
    font-weight: lighter;
}
.main-content {
    text-align: left;
}
h1 {
    margin: 15px 0;
}
h2 {
    margin: 25px 0;
    display: inline-block;
}
.all-images {
    text-align: center;
}
.images-slider {
    width: 80%;
    display: flex;
    max-width: 400px;
    max-height: 350px;
    border-radius: 15px;
    margin: 0 auto 20px auto;
    overflow-x: hidden;
}
.images-slider img {
    width: 100%;
}
.thumbnails-container {
    display: none;
}
.directions {
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 40%;
}
.left {
    left: 13%;
}
.right {
    right: 13%;
}
.thumbnails-container > label {
    width: 20%;
}
label > img {
    border-radius: 10px;
    width: 100%;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    border: 3px solid var(--orange);
    border-radius: 13px;
    opacity: 0.5;
    transition: opacity 0.7s;
}
#radio2:checked + .main-image {
    margin-left: -200%;
}
.company, .discount {
    color: var(--orange);
    font-weight: bolder;
}
p {
    color: var(--text-color);
}
.origin-price {
    display: block;
}
.discount {
    background-color: #FFEDE0;
    padding: 5px;
    margin-left: 5px;
}
.origin-price {
    color: var(--text-color);
    text-decoration: line-through;
    margin: 10px 0px 15px 0px;
}
.quantity-container {
    background-color: #dddddf;
    width: 100%;
    padding: 15px 0;
}
.quantity-container > button {
    background-color: #dddddf;
    width: 10%;
    border: none;
} 
.quantity-container > span {
    width: 75%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
}
.add-cart {
    background-color: var(--orange);
    color: white;
    padding: 15px 0px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-top: 12px;
}
.menu {
    font-family: 'Material Icons';
    font-size: 30px;
}
.new-container {
    background-color: rgba(0, 0, 0, 0.418);
    width: 98.7vw;
    height: 118%;
    position: absolute;
    top: 0%;
}
.new-button {
    width: 30px;
    height: 30px;
    padding: 8px;
    display: block;
    position: absolute;
    border: none;
    border-radius: 50%;
}
.newslider {
    margin: auto;
    margin-top: 110px;
    position: relative;
}
.new-directions {
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 40%;
}
.new-right {
    left: 90%;
}

